# Dependencias
node_modules/
.pnp
.pnp.js

# Testing & Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.system_generated/

# Archivos de entorno y SO
.env
.env.local
.DS_Store
Thumbs.db

# IDE & Editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
